.navbar {
    background-color: #753c00;
    padding: 20px;
    text-align: center;
    position: fixed; /* Make the navbar fixed */
    width: 100%; /* Make the navbar stretch to full width */
    top: 0; /* Position it at the top of the page */
    z-index: 1000; /* Ensure the navbar appears on top of other content */
    animation: glow 2s linear infinite alternate;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 30px 15px rgba(255, 165, 0, 0.5); /* Start with orange glow */
    }
    50% {
      box-shadow: 0 0 30px 15px rgba(0, 0, 255, 0.5); /* Change to blue glow */
    }
    100% {
      box-shadow: 0 0 30px 15px rgba(255, 165, 0, 0.5); /* Back to orange glow */
    }
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-size:40px;
    padding: 15px 30px;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
  }
  
  .navbar-link:hover {
    background-color: #5978F3;
    box-shadow: 0 0 20px rgb(255, 115, 0); /* Add lighting effect on hover */
  }
  
  